---
import BaseLayout from "@/layouts/base.astro";
import Navigationbar from '@/components/navbar';
import { Input } from "@/components/ui/input"
import ApplyButton  from "@/components/ApplyButton.jsx";

---

<BaseLayout title={"Accelerator Apply Form"} description={"Apply for the decentralized acceleration program starting on April 2, 2025"}>
    <Navigationbar client:load/>
    <main class='w-[80%] flex flex-col gap-8 justify-center items-center mt-8 md:mt-24 pb-20'>
        <div class="">
            
        </div>
    </main>
</BaseLayout>
