---
import BaseLayout from "@/layouts/base.astro";
import Navigationbar from '@/components/navbar';
// import { Input } from "@/components/ui/input"
import ApplyButton  from "@/components/ApplyButton.jsx";

---

<BaseLayout title={"Accelerator Apply"} description={"Apply for the decentralized acceleration program starting on April 2, 2025"}>
    <Navigationbar client:load/>
    <main class='w-[80%] flex flex-col gap-8 justify-center items-center mt-8 md:mt-24 pb-20'>
        <div class="">
            <h1 class="my-8 md:text-6xl text-3xl text-center text-primary">2025 Decentralized Acceleration Program</h1>
            <div class="items-start">
            <p class="text-lg text-center text-white mb-4">
                We are excited to announce the launch of our Decentralized Acceleration Program, commencing on April 2, 2025. This initiative aims to support innovative projects and entrepreneurs within the decentralized ecosystem.
            </p>
            <p class="text-lg text-center text-white mb-4">
                Applications are now open! We encourage all interested parties to submit their proposals by the end of February 2025. Late applications will not be considered.
            </p>
            <p class="text-lg text-center text-white mb-4">
                We are proud to partner with Wish Work to enhance the resources and mentorship available to our participants. Together, we strive to foster innovation and drive impactful change in the decentralized landscape.
            </p>
            <p class="text-lg text-center text-white mb-4">
                Don’t miss this opportunity to elevate your project to new heights. We look forward to reviewing your applications and working together to bring your vision to life.
            </p>
        </div>
            <ApplyButton client:load/>
            <div class="md:hidden fixed bottom-0 left-0 w-full bg-white/20 backdrop-blur-lg z-50 flex justify-center items-center py-4">
                <ApplyButton client:load/>
            </div>
    </div>
    </main>
</BaseLayout>
