---
import ModalForm from '../components/ModalForm'
import { Button } from "flowbite-react";
import Card from "../components/card.astro";
import Chip from "../components/chip.astro";
import Globalstyle from "../components/globalstyle.astro";
// Put all your links here
const links: Link[] = [
  {
    desc: "Register Now!", // The text that will be rendered
    link: "dev-starthead.pantheonsite.io/product/starthead-ticket/", // The link
    icon: "fa-solid fa-ticket", // An icon from Font Awesome: https://fontawesome.com/search?o=r&m=free
  },
  // {
  //   desc: "About Us",
  //   link: "example.com",
  //   icon: "fa-solid fa-store",
  // },
];

---

<html lang='en'>
  <head>
    <!-- <script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script> -->
    <meta charset='utf-8' />
    <link rel='icon' type='image/x-icon' href='/favicon-32x32.png' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
    <meta name="theme-color" content="#1e1e1e" />
  
    <!-- iOS Safari specific settings -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css'
      integrity='sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=='
      crossorigin='anonymous'
      referrerpolicy='no-referrer'
    />
    <meta name='generator' content={Astro.generator} />
    <meta name='description' content='Start Head, an advanced decentralized accelerator for decentralized startups in any location.' />
    <meta name='author' content='Start Head' />
    <meta property='og:title' content='Start Head - Decentralized Accelerator for Startups' />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta property='og:image' content='/favicon-32x32.png' />
    <meta property='og:description' content='Start Head, decentralized accelerator for decentralized startups.' />
    <meta property='twitter:description' content='Start Head, decentralized accelerator for decentralized startups.' />
    <meta property='twitter:title' content='Start Head' />
    <meta property='twitter:image' content='favicon.png' />
    <meta name='twitter:card' content='summary' />
    <meta name='twitter:site' content='@starthead' />
    <title>Srart Head</title>
    <Globalstyle/>
    <style>
      @font-face {
        font-family: Kodchasan;
        src: url(/Kodchasan-Regular.ttf);
        font-display: swap;
      }
    </style>
  </head>
  <body
    class='bg-[#1e1e1e] flex justify-center items-center font-[Kodchasan] text-white'
  >
    <main class='w-[80%] flex flex-col gap-8 justify-center items-center'>
      <img class="max-w-32 md:max-w-48" src="/logo-starthead2.png"/>
      <h1 class='md:text-6xl text-3xl font-black text-center text-primary'>START HEAD</h1>
      <p class='text-center text-lg md:text-xl mx-auto'>Decentralized Accelerator</p>
      <p class='text-center mx-auto'>Register our free virtual event on <b class="text-primary">October 19 at 4 P.M. UTC</b> for gaining insight on how to found a decentralized startup.</p>
      <p class="text-red-300">Attention: the capacity of the virtual event is limited.</p>
      <div class='grid justify-center gap-4'>
        
        <ModalForm client:load/>
        <!-- {
          links.map(({ desc, link, icon }) => {
            return <Card {desc} {link} {icon} />;
          })
        } -->
      </div>
      <p class='text-center mx-auto'>Mint Your Head for <b>Free</b> as an Start Head!</p>
      <Button outline color="gray"><span class="flex items-center fa-solid fa-arrow-down pr-2"></span><span>Mint Head</span></Button>
      <div class='flex justify-center gap-8'>
        <!-- Modal toggle -->
        
        <!-- Put some social links who have a definitive icon here: -->
        <Chip link='youtube.com/@StartHead-DAccelerator' icon='fa-brands fa-youtube' />
        <Chip link='discord.gg/KRqZX2VGHU' icon='fa-brands fa-discord' />
        <Chip link='linkedin.com/company/start-head/' icon='fa-brands fa-linkedin' />
      </div>
      <p class='text-center mx-auto'>StartHead©, All rights Reserved.</p>
    </main>
  </body>
</html>
