---
import { Button } from "flowbite-react";
import BaseLayout from "../layouts/base.astro";
import Navigationbar from '../components/navbar';
import Footer from '../components/footer.astro'; // Import the footer component

// import FramerStaggerButton from "../components/FramerStaggerButton.jsx"; // Import your React component
---

<BaseLayout title={"Team"} description={"The team behind the idea and execution of Start Head"}>
    <div class="fixed top-0 left-0 w-full bg-black text-white text-center py-2 px-4 z-50">
        <div class="flex flex-col sm:flex-row justify-center items-center text-xs sm:text-sm font-semibold gap-1 sm:gap-2">
          <span>🚀 Start Head Acceleration Program is opening on December 2, 2024! 🎉</span>
          <a href="/acceleration-apply" class="underline text-[#FFD800] sm:ml-2">Read it!</a>
        </div>
      </div>
    <Navigationbar client:load/>
    <main class='w-[80%] flex flex-col gap-8 justify-center items-center mt-8 md:mt-24 pb-20'>
        
        <div>
            <h1 class="my-8 md:text-6xl text-3xl font-black text-center text-primary">Team</h1>
            <div class="my-6 p-8 border-double border-4 border-primary">
                <p class="text-center text-lg md:text-xl mx-auto">
                    Parsa Bozorgani
                </p>
                <p class="text-center text-lg md:text-xl mx-auto">
                    Amirhosein Shirani
                </p>
            </div>
        </div>

        <!-- Load FramerStaggerButton only on the client side -->
        <!-- <FramerStaggerButton client:load /> -->

        <p class='text-center mx-auto'>StartHead©, All rights Reserved.</p>
    </main>
    <!-- Footer -->
    <Footer />
    <!-- Sticky Discord Button -->
    <div class="md:hidden fixed bottom-0 left-0 w-full bg-white/20 backdrop-blur-lg z-50 flex justify-center items-center py-4">
        <a href="https://discord.gg/KRqZX2VGHU" target="_blank">
          <Button outline color="gray">
            <span class="flex items-center fa-brands fa-discord pr-2"></span>
            <span>Join Discord Channel</span>
          </Button>
        </a>
    </div>
</BaseLayout>
