---
import { Button } from "flowbite-react";
import BaseLayout from "../layouts/base.astro";
import Navigationbar from '../components/navbar';

---

<BaseLayout title={"Team"} description={"The team benind the idea and execution of Start Head"}>
    <Navigationbar client:load/>
    <main class='w-[80%] flex flex-col gap-8 justify-center items-center mt-8 md:mt-24'>
        <div>
            <h1 class="my-8 md:text-6xl text-3xl font-black text-center text-primary">Team</h1>
            <div class="my-6 p-8 border-double border-4 border-primary">
                <p class="text-center text-lg md:text-xl mx-auto">
                    Parsa Bozorgani
                </p>
                <p class="text-center text-lg md:text-xl mx-auto">
                    Amirhosein Shirani
                </p>
            </div>
        </div>
        <a href="https://discord.gg/HADXy8Je" target="_blank"><Button outline color="gray"><span class="flex items-center fa-brands fa-discord pr-2"></span><span>Join Discord Channel</span></Button></a>
        <p class='text-center mx-auto'>StartHead©, All rights Reserved.</p>
    </main>
</BaseLayout>