---
import { Button } from "flowbite-react";
---

<html>
    <head lang='en'>
        <style>
            @font-face {
              font-family: Kodchasan;
              src: url(/Kodchasan-Regular.ttf);
              font-display: swap;
            }
        </style>
    </head>
    <body
    class='bg-[#1e1e1e] flex justify-center items-center font-[Kodchasan] text-white'
  >
    <main class='w-[80%] flex flex-col gap-8 justify-center items-center'>
        <div>
            <h1 class="md:text-6xl text-3xl font-black text-center text-primary">Vision</h1>
            <div class="my-4">
                <p class="text-center text-lg md:text-xl mx-auto">
                    <b>DAccelerator: Empowering Global Entrepreneurship</b>
                    
                    At Start Head, we envision a future where entrepreneurship knows no boundaries. DAccelerator, our decentralized accelerator, is a revolutionary concept born from the belief that innovation should serve the entire world—not just a specific location. In traditional business landscapes, geography often limits ambition, but in the digital realm, there are no borders. 
                    
                    Sadly, skepticism around blockchain and Web3 technologies has caused many to lose trust, viewing these innovations as scams. But the truth is, it’s not about *who* you are—it's about the value you create for the ecosystem. Regardless of where you come from, anyone who contributes meaningfully can benefit from the decentralized economy. 
                    
                    We aim to help people accelerate their ideas and create solutions that serve humanity. Global challenges like cancer don’t belong to Jakarta, Dubai, or Tashkent alone—they belong to all of us. Through decentralized startups, we believe the world's most pressing problems can be tackled by harnessing the power of collective innovation.
                    
                    Join us, and let's build a future without boundaries, where technology empowers everyone to create for the greater good.
                </p>
            </div>
        </div>
        <a href="https://discord.gg/HADXy8Je" target="_blank"><Button outline color="gray"><span class="flex items-center fa-solid fa-arrow-down pr-2"></span><span>Join Discord Channel</span></Button></a>
    </main>
    </body>
</html>